{% extends 'base.html' %}
{% block content %}
        <div class="head">
            <h1><b>LIBRARY BOOK REISSUING </b></h1>
        </div>
        <div class="stu">
            <h1><b>NAME  :   {{data['Name']}}<B></h1>
            <h1>ROLL NO. :    {{data['Roll_No']}}</h1>
            <h1>NO. OF COUPONS :    {{data['NOC']}}</h1>

        </div>
        <div class="book">
        <table> <!--border="1px"-->
            <tr>
                <th>BOOK</th>
                <th>SERIAL NO.</th>
                <th>DATE OF ISSUE</th>
                <th>DATE OF REISSUE</th>
                <th>DATE OF RETURN</th>
                <th>REISSUE</th>
              </tr>
              {% for i in book %}
              {% if data[i] %}
              <tr>
                <td>{{data[i]['BOOK_ISSUE']}}</td>
                <td>{{data[i]['SERIAL_ISSUE']}}</td>
                <td>{{data[i]['DATE_ISSUE']}}</td>
                <td>{{data[i]['DATE_REISSUE']}}</td>
                <td>{{data[i]['DATE_RETURN']}}</td>
                <!-- {% set select_book = "i" %} -->
                <form method="post" action="">
                <td><input type="submit" name="select_book" value="{{i}}"></td>
                </form> 
              </tr>
              {% endif %}
              {% endfor %}

        </table>
        </div>
        <form method="post" action="">
            <input type="submit" value="LOGOUT" name="logout">
        </form>
        <link rel="stylesheet" href="{{ url_for  ('static' , filename='css/details.css')}}">
    </body>
{% endblock %}